<h1>Testing</h1>
<form [formGroup]="CurrentCustomer.formGroup">


<div>
Name:
<input type="text" formControlName="CustomerNameControl" [(ngModel)]="CurrentCustomer.CustomerName" > 
<div [hidden]="!(CurrentCustomer.formGroup.controls['CustomerNameControl'].hasError('required'))">Customer name is required </div>
<br /><br />

Code:
<input type="text" formControlName="CustomerCodeControl" [(ngModel)]="CurrentCustomer.CustomerCode">
<div [hidden]="!(CurrentCustomer.formGroup.controls['CustomerCodeControl'].hasError('required'))">Customer code is required </div>
<div [hidden]="!(CurrentCustomer.formGroup.controls['CustomerCodeControl'].hasError('pattern'))">Pattern not proper </div>
<br /><br />

Amount:
<input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="CurrentCustomer.CustomerAmount"><br /><br />
<br /><br />

</div>



{{CurrentCustomer.CustomerName}}<br /><br />
{{CurrentCustomer.CustomerCode}}<br /><br />
{{CurrentCustomer.CustomerAmount}}<br /><br />
Form Valid: {{CurrentCustomer.formGroup.valid}} <br /><br />
<input type="button" value="Click" [disabled]="!(CurrentCustomer.formGroup.valid  )"/>
<input type="button" value="Click" (click)="Add()"/>

<table>
<tr>
<td>Name</td>
<td>code</td>
<td>amount</td>
</tr>
    <tr *ngFor="let cust of Customers">
    <td>{{cust.CustomerName}}</td>
    <td>{{cust.CustomerCode}}</td>
    <td>{{cust.CustomerAmount}}</td>
    </tr>
</table>


</form>

